body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 0px;
}

h1 {
  margin: 5px;
}

h2 {
  margin: 5px;
}

img {
  position: absolute;
  width: 100px;
  height: 100px;
}

button {
  font-size: 16px;
  margin: 10px 20px 20px 20px;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#new-stage-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}